/**
*
* * Everything that controls typography can be found in this file all in one place
* TODO: Include custom downloaded font paths below --> Best for speed optimization
*
*/

@use 'abstracts/mixins' as mixins;

// * --------| Font variables |-------- *
$font-primary: 'Fraunces', serif;
$font-secondary: 'Syne', sans-serif;
$font-h1: 4rem;
$font-h2: 2.4rem;
$font-h3: clamp(1.7rem, 1.8vw, 2rem);
$font-h3-mobile: 2.5rem;
$font-body: clamp(1.5rem, 1.6vw, 1.6rem);
$font-body-mobile: 2rem;
$font-icon-title: 0.8rem;
$font-icon-body: 0.8rem;

// Primary Google font fallback
// @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Syne:wght@100..800&display=swap');

//Font mixins
@mixin font-primary {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
}

@mixin font-primary-i {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-display: swap;
  font-style: italic;
}

// Included fonts from assets

@font-face {
  font-family: 'Fraunces';
  src: url('assets/fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url('assets/fonts/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('assets/fonts/Syne-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}
html {
  // ! Makes 1 rem = 10px ( Simplifies dealing with rem to px calcs )

  font-size: 50%;

  @include mixins.respond(large) {
    font-size: 62.5%; // 10px / 16px = 65.5%
  }
}

body {
  font-family: $font-primary;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.h2__heading {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
  z-index: 5;
}

.h3__heading {
  font-size: $font-h3;
  font-weight: 400;

  @include mixins.respond(medlg) {
    font-size: $font-h3-mobile;
  }
}

// Uppercase
.uppercase {
  text-transform: uppercase;
}
