/**
*
* * All variables for project can be found in this file
*
*/

// * --------| Color variables |-------- *
:root {
  --color-deep: #071820;
  --color-deep-a: 7, 24, 32;

  --color-dark-midnight-teal: #0d3344;
  --color-dark-midnight-teal-a: 13, 51, 68;

  --color-dark-blue: #174f6b;
  --color-dark-blue-a: 23, 79, 107;

  --color-medium-blue: #4a6472;
  --color-medium-blue-a: 74, 100, 114;

  --color-light-blue: #4c9fd6;
  --color-light-blue-a: 25, 161, 219;

  --color-dark-orange: #8b5a1c;
  --color-dark-orange-a: 139, 62, 28;

  --color-copper: #bb722a;
  --color-copper-a: 187, 114, 42;

  --color-light-copper: #bf7b3c;
  --color-light-copper-a: 191, 123, 60;

  --color-carmine: #eac293;
  --color-carmine-a: 234, 194, 147;

  --color-morning: #f7f3ec;
  --color-morning-a: 247, 243, 236;

  --color-sand: #f4ebda;
  --color-sand-a: 244, 235, 218;

  --color-grey: #e2e5ea;
  --color-grey-a: 226, 229, 234;

  --color-dark-grey: #44546a;
  --color-dark-grey-a: 68, 84, 106;

  --color-black: #000000;
  --color-black-a: 0, 0, 0;

  --color-white: #ffffff;
  --color-white-a: 255, 255, 255;

  --border-radius: 10rem;

  //Animations
  --ease-out: cubic-bezier(0.16, 1, 0.3, 1);
}
